.timeline {
  list-style-type: none;
  width: 80%;
  max-width: 800px;
  margin: 50px auto;
  font-size: 1.5rem;
  margin-top: 100px;
  background-color: rgb(0, 0, 255, 0.8);
  padding: 30px;
  padding-left: 50px;
  border-radius: 50px;
}
li {
  position: relative;
}
li > span {
  font-size: 2rem;
  background-color: #142850;
  color: white;
  padding: 6px 15px;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: -23px;
}
.content {
  padding-left: 50px;
  color: white;
  border-left: solid #27496d 3px;
}
li:last-child .content {
  border-left: solid transparent 3px;
}
.content span {
  font-size: 2rem;
}
