* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}
.App {
  position: relative;
}
.main-content {
  position: relative;
  min-height: 100vh;
  padding-bottom: 90px;
}

.footer {
  color: white;
  background-image: linear-gradient(90deg, #120136, #035aa6, rgb(41, 184, 184));
  width: 100%;
  position: absolute;
  bottom: 0px;
  text-align: center;
  font-size: 1.2rem;
  padding: 20px;
}
